<div class="infographic">
	        	
		 <h2> about raid me </h2></br>
	
	<%= image_tag('whatisraidme.jpg') %>
	</div>	
				        		
	<!-- ENDS infographic -->
	
	<div class="trenner">
	<%= image_tag('trennlinie.png') %>
	</div>

<!-- infotext -->
	
<div class="infotext">
	Hunger. Stufe für Stufe schob sie sich die Treppe hinauf. Pizza Funghi Salami, Sternchen "Salami" gleich Blockwurst. 
	Die Pilze hatten sechs Monate in einem Sarg aus Blech, abgeschattet vom Sonnenlicht, eingeschläfert in einer Sosse aus 
	Essig, billigem Öl und verschiedenen Geschmacksverstärkern, geruht. Es war nur ein Augenblick, in dem sie die Welt 
	erblickt hatten, dann verschwanden sie wieder in einem 450° heissen Ofen. Die Pizza ruhte auf ihrer rechten Hand, 
	und in ihrer Linken hielt sie eine jener nichtssagenden Plastiktüten. Wie fast jeden Abend hatte sie noch das 
	weisse Häubchen aus dem Krankenhaus auf dem Kopf. Das Fettgewebe ihrer Schenkel verspürte einen Heisshunger auf 
	das müde Öl, das bei jedem Schritt sanft auf den Salamischeiben schaukelte. Die kleinen Zellen ihrer heissen 
	Oberschenkel waren gierig, als sie im Treppenhaus ein Geräusch hörte.
</div>
<!-- ENDS infotext -->