<div class="infographic">
	        	
		 <h2> about raid me </h2></br>
	
	<%= image_tag('RAIDMEabout.png') %>
	</div>	
				        		
	<!-- ENDS infographic -->
	
	<div class="trenner">
	<%= image_tag('trennlinie.png') %>
	</div>

<!-- infotext -->
	
<div class="infotext">
	RAIDME is a community which gives you the opportunity to take and share food with RAIDME members. Feel free to join us - you can expect open-hearted students, who just want to avoid unneccessary waste with a nice side effect: finding friends with you own food ;)
</div>
<!-- ENDS infotext -->