<div class="imprint">        		        	
   		 <h2> imprint </h2></br>
   		 </div>


	<!-- infotext -->
		
	<div class="infotext">
	
	Raidme - fridgecommunity wurde im Rahmen eines Qualifikationsprojekts für das Wintersemester 2012/2013 von Studenten der 
	Fachochschule Salzburg aus den Studiengängen MultiMediaTechnology & MultiMediaArt erstellt.


	<div class="team">
	<h5>TEAM</h5>
	<ul>
	<li>Barbara Huber, Programmierung (mmt)</li>
	<li>Bianca Poitner, Design (mma)</li>
	<li>Ricarda Hutter, Design (mma)</li>
	<li>Tobias Feldmeier, Design (mma)</li>
	</ul>
	</div>
	
	<div class="trenner">
		<%= image_tag('trennlinie.png') %>
	</div></br>
		
	<h5>COPYRIGHT</h5>
	<ul>
	<li>Fachhochschule Salzburg GmbH</li>
	<li>Urstein Süd 1</li>
	<li>A-5412 Puch/Salzburg</li>
	<li>Österreich</li>
	</ul>
	</div>
	<!-- ENDS infotext -->
		
<div class="trenner">
    <%= image_tag('trennlinie.png') %>
</div></br>