<% if @product.present? %>
  <% Product.all.each do |product| %>
    <% if product.user_id == @user.id %>
    <ul class="foodList">
      <li>
	  	<p class="article">
	  	<%= product.name %>
		</p>
	  </li>
	</ul>
	<% end %>
  <% end %>
<% end %>