<% if @product.present? %>
  <ul class="foodList">
    <li>
      <% @product.each do |product| %>
        
	  	  <p class="article">
	  		<%= product.name %>
	  		<%= link_to " destroy article", product, :method => :delete %>
		  </p>
	    
	  <% end %>
	</li>
  </ul>
<% end %>