<% if products.present? %>
  <table>
    <tr>
	  <th>Name: </th>
	  <th>Besitzer: </th>
	</tr>
  <% products.each do |product| %>
	<tr>
	  <th><%= product.name %></th>
	  <% if product.user.first_name.present? && product.user.last_name.present? %>
	    <th><%= product.user.first_name + " " + product.user.last_name %></th>
	  <% else %>
	    <th><%= product.user.email %></th>
	  <% end %>
	</tr>
  <br/>
  <% end %>
  </table>
<% end %>